/* ==|====================
   Tools/Helpers
   Helper classes
   ======================= */


.text-white {
    color: $white;
}

.text-black {
    color: $black;
}
.bg-dark-gray {
    background: $darkgray;
}

.bg-silver {
    background: $silver;
}




.margin-bottom {
    margin-bottom: $spacing-unit;
}

.lg-margin-bottom {
    margin-bottom: $lg-spacing-unit;
}

.xl-margin-bottom {
    margin-bottom: $xl-spacing-unit;
}

.lg-padding {
    padding: $lg-spacing-unit;
}


.full-height {
  min-height: 100%;
  min-height: 100vh;
}

.vertical-align-container {
  display: table;
  width: 100%;
}

.vertical-align-inner {
  display: table-cell;
  vertical-align: middle;
}

.full-height.vertical-align-container {
  //min-height doesn’t play nicely with display:table; especially in Firefox
  //http://stackoverflow.com/questions/7790222/css-display-table-min-height-not-working
  height: 100%;
  height: 100vh;
}


@-webkit-keyframes color-pulsate {
    0% {
        // color: #333;
        color: #F012BE;
    }

    7% {
        // color: #0c85ff;
        color: #001F3F;
    }

    14% {
        // color: #40a9ff;
        color: #0074D9;
    }

    21% {
        // color: #00a8e5;
        color: #7FDBFF;
    }

    28% {
        // color: #165656;
        color: #39CCCC;
    }

    35% {
        // color: #112c20;
        color: #3D9970;
    }

    42% {
        // color: #124f18;
        color: #2ECC40;
    }

    49% {
        // color: #00672d;
        color: #01FF70;
    }

    56% {
        // color: #665700;
        color: #FFDC00;
    }

    63% {
        // color: #ffd6b4;
        color: #FF851B;
    }

    70% {
        // color: #ffd1cf;
        color: #FF4136;
    }

    77% {
        // color: #e44e99;
        color: #85144B;
    }

    84% {
        // color: #f9a2e6;
        color: #F012BE;
    }

    91% {
        // color: #e679f6;
        color: #B10DC9;
    }

    95% {
        // color: #5e5e5e;
        color: #111;
    }

    96% {
        // color: #919191;
        color: #ddd;
    }

    98% {
        // color: #5d5d5d;
        color: #aaa;
    }

    100% {
        // color: #b3b3b3;
        color: #fff;
    }
}
@-webkit-keyframes background-pulsate {
    0% {
        // color: #333;
        background: #F012BE !important;
    }

    7% {
        // color: #0c85ff;
        background: #001F3F !important;
    }

    14% {
        // color: #40a9ff;
        background: #0074D9 !important;
    }

    21% {
        // color: #00a8e5;
        background: #7FDBFF !important;
    }

    28% {
        // color: #165656;
        background: #39CCCC !important;
    }

    35% {
        // color: #112c20;
        background: #3D9970 !important;
    }

    42% {
        // color: #124f18;
        background: #2ECC40 !important;
    }

    49% {
        // color: #00672d;
        background: #01FF70 !important;
    }

    56% {
        // color: #665700;
        background: #FFDC00 !important;
    }

    63% {
        // color: #ffd6b4;
        background: #FF851B !important;
    }

    70% {
        // color: #ffd1cf;
        background: #FF4136 !important;
    }

    77% {
        // color: #e44e99;
        background: #85144B !important;
    }

    84% {
        // color: #f9a2e6;
        background: #F012BE !important;
    }

    91% {
        // color: #e679f6;
        background: #B10DC9 !important;
    }

    95% {
        // color: #5e5e5e;
        background: #111 !important;
    }

    96% {
        // color: #919191;
        background: #ddd !important;
    }

    98% {
        // color: #5d5d5d;
        background: #aaa !important;
    }

    100% {
        // color: #b3b3b3;
        background: #fff !important;
    }
}
//Continuously changes colors
.color-change {
    color: #F012BE;
    -webkit-animation: color-pulsate 100s linear infinite;
    animation: color-pulsate 100s linear infinite;
}

.button-color-change {
    // background: #F012BE;
    -webkit-animation: background-pulsate 100s linear infinite;
    animation: background-pulsate 100s linear infinite;
}





.box {
    padding: $lg-spacing-unit;
    width: 100%;
    background: $silver;
    border-radius: $border-radius;
    border: 2px solid $gray;
    max-width:420px;
    margin: 0 auto;
}