.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
ol, ul {
  margin-left: 1em;
}

.line-through {
  text-decoration: line-through;
}


input[type="email"] {
  border-radius: 4px;
  background: $white;
  border: 0;
  border: 2px solid $primary;
  border-radius: 4px;
  padding: 5px;
  min-width: 300px;
  margin-left: 10px;
  &:focus {
    outline: 2px solid $blue;
  }
}



.button {
  @include transition(background-color);
  // background: $primary;
  outline: 0;
  border: 0;
  border-radius: 4px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 9px 15px;
  margin-top: 20px;
  white-space: nowrap;

  &:visited {
    color: $white;
  }
  &:hover {
    // background: $darkprimary;
    color: $silver;
  }
  &:active {
    transform: translateY(1px);
  }
  &:focus {
    outline: 2px solid $blue;
  }
}

.button-lg {
  font-size: 18px;
}
h1 {
  color: $darkprimary;
  font-weight: 400;
}


.delight {
  color: $primary;
  // font-weight: 900;
}

.life {
  // font-weight: 300;
}

@media screen and (max-width:568px) {
  .map-svg {
    width: 150px;
    height: 150px;
  }
}


#iFrameResizer0 {
  margin: 0 auto;
}